bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/Stronghold Crusader Project/Logs/10-11.txt
/Stronghold Crusader Project/Logs/13-11.txt
/Stronghold Crusader Project/Logs/17-11.txt
/Stronghold Crusader Project/Logs/24-11.txt
